@import url("./styles/theme.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

.light-gradient {
  background: linear-gradient(
    132deg,
    rgba(247, 249, 255, 0.5) 0%,
    rgba(229, 237, 255, 0.25) 100%
  );
}

.primary-text-gradient {
  background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: gainsboro;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #777777;
}
